@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,500&family=Poppins:wght@300;400;500&display=swap');


*{box-sizing: border-box;}

html{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: pink;
    min-height: 100dvh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.preloader{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.8s ease;
    background-color: #ec4899;
}
.preloader.hide{
    opacity: 0;
}
.loading{
    height: 50px;
    width: 80%;
    background-color: #FFB6C1;
    border: 5px solid #ff90de;
    position: relative;
    top: 25%;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    anchor-name: --loading;
}
.progress{
    position: absolute;
    height: 100%;
    width: 0%;
    background: #dc2626;
    transition: all 0.2s;
}
.porcentage{
    font-size: 3.5rem;
    position: absolute;
    position-anchor: --loading;
    position-area: top left;
    left: anchor(left);
    width: auto;
    color: #ff90de;
}
.emoji {
    position: fixed;
    top: -100px;
    pointer-events: none;
    z-index: -1;
    font-family: "Segoe UI Emoji", sans-serif;
    left: 0;
}
.name {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container-name{
    gap: 10px;
    anchor-name: --name;
    display: flex;
}
.container{
    color: rgb(170, 0, 255);
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 800;
}
.subline{
    height: 3px;
    margin-top: 20px;
    width: 330px;
    background-color: rgb(196, 63, 196);
    position: absolute;
    position-area: bottom center;
    position-anchor: --name;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #FFB6C1;
}
.aura{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 89, 255);
    opacity: 0.4;
    position: fixed;
    z-index: -2;
    border-radius: 50%;
    filter: blur(80px);
    translate: -40% -40%;
    animation: aura 30s infinite alternate;
}
.phrase {
    position: absolute;
    position-anchor: --name;
    position-area: top center;
    pointer-events: none;
    width: 400px;
    text-align: center;
    color: #d9a441;
    letter-spacing: 3px;
    filter: blur(0);
    animation: phrase ease-out 2s both;
    animation-delay: 1.5s;
}
.box-sub-phrase{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    line-height: 24px;
}
.sub-phrase{
    color: #A64CA6;
    animation: subphrase ease-out 2.5s;
    animation-delay: 2s;
    text-wrap: nowrap;
    animation-fill-mode: both;
}
.container-lettter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.letter {
    height: 210px;
    width: 300px;
    background: rgb(242, 213, 245, 0.4);
    border-radius: 1rem;
    text-align: center;
    line-height: 40px;
    backdrop-filter: blur(5px);
    font-style: oblique;
    letter-spacing: 2px;
    animation: letterbox 2s ease-out;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    font-size: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.5s;
}
.letter-emoji {
    font-size: 40px;
}
.box-message{
    background-color: rgb(242, 213, 245);
    height: auto;
    max-width: 400px;
    margin: 20px;
    border-radius: 1rem;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 28px;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #c2185b;
}
.aura2{
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: #ff90de;
    opacity: 0.4;
    position: fixed;
    z-index: -2;
    border-radius: 50%;
    filter: blur(80px);
    translate: 40% 40%;
    animation: aura 20s infinite alternate;
}
#phrase{
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 60px;
}
#box-message{
    width: 100%;
}
@media (min-width: 946px) {
    #box-message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .box-message{
        max-width: 1000px;
        padding-right: 100px;
        padding-left: 100px;
    }
}
.container-anchor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchor {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: #c2185b;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    margin-bottom: 30px;
}
@keyframes aura {
    to{
        transform: scale(5);
    }
}
@keyframes phrase {
    from{
        filter: blur(5px);
        transform: translateY(-60px);
    }
    to{
        filter: blur(0);
    }
}

@keyframes subphrase {
    from{
        opacity: 0;
        filter: blur(2px);
        letter-spacing: 2px;
        transform: scale(1.6);
    }
    to{
        opacity: 1;
        letter-spacing: 2px;
    }
}
@keyframes letterbox {
    from{
        opacity: 0;
        translate: 0 200px;
    }
    to{
        opacity: 1;
    }
}
.letter:active{
    transform: scale(0.9);
}