@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,500&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  background: pink;
  min-height: 100dvh;
  display: flex;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.emoji {
  position: fixed;
  top: -100px;
  pointer-events: none;
  z-index: -11;
  font-family: "Segoe UI Emoji", sans-serif;
  left: 0;
}
.aura {
  height: 500px;
  width: 500px;
  background-color: rgb(255, 89, 255);
  opacity: 0.4;
  position: fixed;
  z-index: -2;
  border-radius: 50%;
  filter: blur(80px);
  translate: -40% -40%;
  animation: aura 30s infinite alternate;
}
.aura2 {
  height: 500px;
  width: 500px;
  background-color: #ff90de;
  opacity: 0.4;
  position: fixed;
  z-index: -2;
  border-radius: 50%;
  filter: blur(80px);
  translate: 40% 40%;
  animation: aura 20s infinite alternate;
}
.container-position {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0);
}
@media (min-width: 1100px) {
  .container-position {
    align-items: center;
  }
}
.button1,
.button2 {
  height: 20px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  align-items: center;
}
.buttons a {
  padding: 10px;
  border-radius: 1rem;
  background-color: #ff90de;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  width: 170px;
}
.title-container {
  width: 100%;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 300px;
  text-align: center;
}
.title {
  letter-spacing: 6px;
  font-size: clamp(130px, 100px, 70vw);
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  color: rgb(252, 204, 48);
  text-wrap: nowrap;
}
.container {
  height: 400px;
  width: 420px;
  background-color: darkblue;
  margin: 20px;
  border-radius: 1rem;
  transition: all 2s;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 150px;
  opacity: 0;
}
.videos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.video-1,
.video-2 {
  height: 280px;
  border-radius: 1rem;
}
.perfil-img {
  height: 80px;
  border-radius: 50%;
  position: relative;
  bottom: 80%;
  left: 14%;
}
.perfil {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid gray;
}
.anchor-perfil {
  position: absolute;
  transform: translateX(-12%);
  font-size: 2rem;
  color: blue;
}
.anchor-perfil:visited {
  color: blue;
}
.instagram-png {
  height: 30px;
}
.videos video {
  transition: all 0.3s;
}

.videos video:hover {
  outline: 2px solid cyan;
  transform: scale(1.1);
}
.remetent-1 {
  width: 100%;
  display: flex;
}
.destinary-1 {
  width: 100%;
  display: flex;
  justify-content: end;
}
.text-message-1 {
  width: clamp(470px, 470px, 80vw);
  padding: 20px;
  font-family: "Tangerine", cursive;
  font-weight: 1000;
  font-size: 2.5rem;
  background-color: antiquewhite;
  margin: 20px;
  transform: translateX(-100%);
  transition: all 2s;
  opacity: 0;
}
.text-1 {
  line-height: 45px;
}
.images {
  transition: all 1.5s;
  transform: translateX(100%);
  opacity: 0;
}
.image-1-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-1 {
  height: 200px;
  width: 270px;
  border-radius: 1rem;
}
.images-container-meme {
  width: clamp(70vw, 600px, 40px);
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  background-color: antiquewhite;
  border-radius: 1rem;
  margin-top: 100px;
}
.images-container-meme div img {
  height: 200px;
  border-radius: 1rem;
}
.image-meme-3 img {
  width: 200px;
}
.gift-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  text-align: center;
  flex-direction: column;
}
.gift-container p {
  font-size: 2rem;
  color: red;
  line-height: 0px;
}
.gift{
  font-size: 170px;
  z-index: 10;
  background-color: #fc6ad0;
  padding: 40px;
  border-radius: 1rem;
}
.image-rosa{
  position: absolute;
  width: 300px;
  opacity: 0;
  transition: all 0.5s;
  max-width: 80vw;
  margin: auto;
}
.message-kae{
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.container-kae{
  width: clamp(30vw, 90vw, 1000px);
  background-color: #fc6ad0;
  border-radius: 1rem;
  padding: 20px;
  line-height: 30px;
  max-width: 90vw;
  text-align: center;
  margin: auto;
  transition: all 2s;
  transform: translateX(-100%);
}
.text-kae{
  color: #fff;
}
.img-kae{
  width: 300px;
  border-radius: 1rem;
  max-width: 30vw;
}
.remetent-kae{
  color: #fff;
  margin-bottom: 50px;
}
.container-bar{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar{
  height: 300px;
  min-width: 70px;
  background-color: #444;
  display: flex;
  border-radius: 0.5rem;
  position: relative;
  align-items: end;
  overflow: hidden;
  anchor-name: --bar;
}
.sub-bar{
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: chartreuse;
  transition: all 0.3s;
}
.buttons-bar button{
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #444;
  line-height: 50px;
  margin: 30px;
  border-radius: 0.5rem;
  color: #fff;
  border: none;
}
.heart{
  margin-right: 50px;
  font-size: 170px;
  color: red;
  pointer-events: none;
  filter: blur(5px);
}
.container-heart{
  display: flex;
}
.phrase-heart{
  align-self: center;
  position: relative;
  transform: translate(150px);
  text-wrap: nowrap;
  bottom: 10px;
  z-index: 10;
  color: #fff;
  pointer-events: none;
  filter: blur(5px);
}
.opacity-counter{
  position-anchor: --bar;
  position-area: top center;
  position: absolute;
  color: #fff;
  background-color: #444;
  padding: 10px 15px;
  border-radius: 0.5rem;
}





















@media (max-width: 870px) {
  .title{
    font-size: 85px;
  }
  .images-container-meme{
    height: auto;
    flex-direction: column;
    padding: 40px;
    gap: 0px;
  }
  .container{
    width: 380px;
    margin: auto;
    margin-bottom: 60px;
  }
  .text-message-1{
    margin-left: 0;
    width: 360px;
    margin: auto;
  }
  .container-kae{
    margin: auto;
  }
}
@media (max-width: 470px){
  .container-bar{
    justify-content: end;
  }
}