@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,500&family=Poppins:wght@300;400;500&display=swap');


*{box-sizing: border-box;}

html{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: pink;
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emoji {
    position: fixed;
    top: -100px;
    pointer-events: none;
    z-index: -1;
    font-family: "Segoe UI Emoji", sans-serif;
    animation: emoji 4s forwards;
}
.aura{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 89, 255);
    opacity: 0.4;
    position: fixed;
    z-index: -2;
    border-radius: 50%;
    filter: blur(80px);
    translate: -40% -40%;
    animation: aura 30s infinite alternate;
}
.aura2{
    height: 500px;
    width: 500px;
    background-color: #ff90de;
    opacity: 0.4;
    position: fixed;
    z-index: -2;
    border-radius: 50%;
    filter: blur(80px);
    translate: 40% 40%;
    animation: aura 20s infinite alternate;
}
.container{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 240px;
    width: 300px;
    gap: 20px;
}
.card{
    border-radius: 1rem;
    position: relative;
    height: 240px;
    width: 300px;
    background: darkorchid;
    flex-shrink: 0;
}
.container::-webkit-scrollbar{
    display: none;
}
.buttons {
    display: flex;
    gap: 50px;
    margin-top: 60px;
}
.buttons button{
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: none;
    height: 40px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 30px 60px;
    margin-top: 20px;
}
#after{
    background-color: #10b981;
}
#before{
    background-color: #e11d48;
}
.counter{
    font-size: 2.5rem;
    color: rebeccapurple;
}
.card:nth-child(1){
    background-image: url(../img/086affc0-10c4-4141-bfa7-df42cd9d9b32.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(2){
    background-image: url(../img/4da56172-844b-4efe-93c2-026737d386e9.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(3){
    background-image: url(../img/639cd919-40ef-442e-a6fa-23cbe1f558a0.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(4){
    background-image: url(../img/cb6c98c2-dbc1-4aa8-843d-fe1a1c9869b6.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(5){
    background-image: url(../img/d4383e90-6afd-4f07-a324-3f1888ec9207.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(6){
    background-image: url(../img/e3557bbb-51ee-4e27-afad-edac9eb696fd.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(7){
    background-image: url(../img/e444bad2-526c-47b2-bc01-4d98fad6c225.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(8){
    background-image: url(../img/f96439bb-6f06-447f-a6be-6a0c2de3f2cd.jpg);
    background-position: center;
    background-size: cover;
}
.card:nth-child(9){
    background-image: url(../img/a1280e81-fe26-42fc-ac5a-12bbf08d90c1.jpg);
    background-position: 50% 0px;
    background-size: cover;
}
.anchor{
    text-decoration: none;
    height: 40px;
    width: auto;
    padding: 0 20px;
    background-color: #e11d48;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 1rem;
    position: relative;
    top: 90px;
}
@keyframes aura {
    to{
        transform: scale(5);
    }
}
@keyframes emoji {
    to{
        filter: blur(1.7px);
    }
}